<html>
</head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/katex-0.5.1.min.css">
</head>
<body>



<div id="main">

<div id="jumbo">
  <a href="/"><span id="jumbo-type">Type</span><span id="jumbo-defs">defs</span></a>
</div>
<div id="navigation">
<nav>
<a href="/">Home</a><br>
<a href="/about">About</a><br>
<a href="/introduction">Introduction</a><br>
<a href="/targets">Targets</a><br>
<a href="/specification">Specification</a><br>
<a href="/notes">Some notes</a><br>
<a href="/related">Related work</a><br>
<a href="https://github.com/typedefs">Sourcecode</a><br>
<a href="https://try.typedefs.com">Try It!</a>
</ul>
</nav>
</div>

<div id="bodytext">
    {% block container %}
    <div class="content markdown-body">
    {{ content | safe }}
    </div>
    {% endblock %}
</div>

</div>

</body>
</html>
