body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 150%;
    background-color: beige;
}

#main {
    padding: 2em;
}

a {
    color: blue;
}

#bodytext {
    max-width: 760px;
    margin: auto;
}

#navigation {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    float: left;
    top: 4em;
}

nav {
    line-height: 210%;
    padding: 1.25em;
}
nav a {
    font-size: 1.1em;
    font-style: italic;
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed gray;
    padding: 4px;
}
nav a:hover {
    background-color: lightpink;
    border-bottom: 1px solid violet;
    margin-bottom: 4px; 
}

code {
    font-size: 125%;
    color: darkviolet;
    padding: 0px 4px;
}


/** this follows the Conor McBride color scheme **/

#jumbo {
    margin-bottom: 1em;
    font-family: monospace;
    font-size: 32pt;
}

#jumbo a {
    text-decoration: none;
}

#jumbo-type {
    color: blue;
}

#jumbo-defs {
    color: black;
    text-decoration: underline;
}

ul input {
    background-color: red;
    margin-right: 1em;
}

/* sexy animation for try */
#try a{
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #5f00db;
    padding: .4em 1em;
    margin: 8px;
    /* background-color: thistle; */
  }
  #try  a:before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
  }
  #try a:hover:before{
    animation: animate .5s linear forwards;
  }
  @keyframes animate{
    0%{
      width: 0;
      height: 0;
      border-top-color: #4b0044;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    50%{
      width: 100%;
      height: 0;
      border-top-color: #2b0047;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: #0b0035;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: #290022;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: #262626;
    }
  }
  
#try a:hover {
    background-color: peachpuff;
}

#try a:after{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
  }
  #try a:hover:after{
    animation: animate2 .5s linear forwards;
    animation-delay: .5s;
  }
  @keyframes animate2{
    0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #ec06ce;
      border-right-color: transparent;
    }
    50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: #5f00db;
      border-left-color: #8b00c2;
      border-right-color: transparent;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: #7900eb;
      border-left-color: #262626;
      border-right-color: transparent;
    }
  }
  
  